@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;500;700&family=Cormorant+Infant:wght@300;500;600&display=swap");

:root {
  --main-color: #ffff;
  --second-color: #0b031a;
}

html,
body,
* {
  font-family: "Bai Jamjuree", sans-serif;
}

.my-nav {
  background-color: #0b031a;
  height: 70px;
  font-size: 18px;
}

.navbar-brand {
  font-size: 3.5em;
  font-weight: 999;
  letter-spacing: 3px;
}

.title {
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 4px;
  color: var(--main-color);
}

.judul {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 2px;
  color: #0b031a;
}
.description {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
}

.mybg {
  background-image: url("asset/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.carousel-contain {
  background-color: #0b031a;
  height: 300px;
}

.subtitle {
  font-weight: 400;
  line-height: 1.5;
}

.bordered {
  border: solid white;
}

.subtitle {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
}

.crop1 {
  height: 563px;
  width: 1000px;
  object-fit: cover;
}
.crop2 {
  height: 563px;
  width: 1000px;
  object-fit: cover;
  object-position: 20% 60%; 

}

.title2 {
  text-align: center;
  font-weight: 400;
  color: antiquewhite;
}
.descript1 {
  color: #0b031a;
}

.carousel-inner > .caption > p {
  color: #0b031a;
  text-dark
}